body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-size: 16px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    text-align: center;
    margin-bottom: 2px;
}

.group {
    margin: 5px auto;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block {
    margin-bottom: 5px;
}

.block h2 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 18px;
}

.inputs {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.inputs input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 3px;
}

.inputs button {
    padding: 6px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.output {
    margin-top: 2px;
    padding: 4px;
    border-radius: 5px;
    font-size: 13px;
}

footer {
    background-color: #333;
    color: white;
    padding: 8px;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

footer img {
    display: block;
    margin: 5px auto;
}

/* Custom button style */
.green-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.metamask-button {
    background-color: lightgray;
    border: none;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .group {
        margin: 5px;
    }
}

.button-output-container {
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.metamask-button {
    background-color: lightgray;
}

.output {
    background-color: lightgray;
}