body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

section {
    width: 45%;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    position: relative;
    width: 30%;
    height: 100vh; /* Define a altura total da janela de visualização */
    text-align: center; /* Alinha horizontalmente */
  }
  
.center {
    position: absolute;
    left: 50%; /* Move a imagem para o centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a imagem para que o centro dela fique no centro do contêiner */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
  }